/* main */
.con_front_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid black;
    width: 100%;
    height: 774px;
}
.con_front_grid h1{
    line-height: 58px;
    margin-top: 17px;
}
.con_front_grid p{
    margin-top: 40px;
}
.con_front_grid button{
    margin-top: 70px;
}
.socm_con{
    margin: 94px 0px 0px 410px;
    display: flex;
    flex-flow: row;
    gap: 40px;
}.con_front{
    margin-left: 40px;
    margin-top: 158px;
}
.con_main1_grid{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    align-content: center;
    text-align: center;
    margin-top: 100px;
    column-gap: 40px;
}
.con_main1_grid p{
    border-bottom: 3px solid #57463A;
    padding-bottom: 14px;
}
.con_main1{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}
.con_main2{
    margin-top: 160px;
}
.con_main2_grid{
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 250px 250px;
    margin-top: 100px;
    border: 1px solid #000;
}
.con_main2_grid div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.con_main2_grid p{
    margin-top: 20px;
}
.con_main2 h2{
    margin-bottom: 100px;
    margin-left: 140px;
}
.con_main3_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
}
.con_main3_grid div{
    margin-left: 60px;
}
.con_main3_grid h4{
    margin-top: 60px;
}
.con_main3_grid p{
    margin-top: 40px;
    font-weight: 300;
}
.con_main3_grid button{
    margin-top: 52px;
}
.con_main3{
    margin: 200px 140px 210px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con_main3 h2{
    margin-top: 90px;
    text-align: center;
}
.con_main3 h3{
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 40px;
}
.con_main3 img{
    margin-top: 0;
    margin-right: 62px;
    margin-bottom: 40px;
    float: right;
}
.con_main4_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
}
.con_main4_grid div{
    margin-left: 40px;
    margin-top: 110px;
}
.con_main4_grid p{
    margin-top: 40px;
}
.con_main4_grid button{
    margin-top: 70px;
}
.con_vid{
    margin-left: 140px;
    margin-top: 160px;
    margin-right: 140px;
}

/* master class */
.mcon_front{
    background-image: url("../img/masterph.png");
    width: 1440px;
    height: 601px;
    text-align: center;
}
.mcon_front h1{
    color: #F6F6F6;
    padding-top: 268px;
}
.mcon_front button{
    margin-top: 100px;
}
.mcon_main1{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}
.mcon_main1 h2{
    display: flex;
}
.mcon_main1_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 50px;
    margin-top: 100px;
    align-items: end;
    text-align: center;
}
.mcon_main1_grid p{
    margin-top: 25px;
}
.mcon_main1 button{
    margin-top: 90px;
}
.mcon_circle_list {
    margin-left: 140px;
    margin-top: 160px;
}
.circle_mcon{
    margin: 0;
    margin-top: 100px;
    display: flex;
    margin-left: 315px;
}
.line{
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #C4C4C4;
    left: 30px;
    z-index: 1;
}
.circle_mcon ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 57px;
    position: relative;
}
.circle_mcon li {
    display: flex;
    gap: 6%;
    align-items: center;
    z-index: 2;
    position: relative;
}
.circle_mcon p {
    position: absolute;
    overflow-y: visible;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A1B29F;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.mcon_main2{
    background-image: url("../img/masterph1.png");
    width: 1440px;
    height: 508px;
    text-align: center;
    margin-top: 160px;
}
.mcon_main2 h2{
    padding-top: 182px;
    color: #F6F6F6;
}
.mcon_main3_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-top: 100px;
}
.mcon_main3_grid p{
    font-weight: 700;
    line-height: 27px;
    margin-top: 20px;
}
.mcon_main4_grid{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 322px;
    margin-left: 140px;
    margin-top: 160px;
    margin-right: 140px;
}
.mcon_main4_grid p{
    margin-top: 100px;
}
.mcon_main4_grid button{
    margin-top: 47px;
}

/* mebel */
.mebcon_front{
    background-image: url("../img/mebelph.png");
    width: 1440px;
    height: 639px;
    text-align: center;
}
.mebcon_front p{
    color: #F6F6F6;
    padding-top: 218px;
}
.mebcon_front h1{
    color: #F6F6F6;
}
.mebcon_front h2{
    color: #F6F6F6;
    margin-top: 25px;
}
.mebcon_front button{
    margin-top: 90px;
}
.mebcon_main1_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
    row-gap: 78px;
}
.mebcon_main1_grid h5{
    border-bottom: 1px solid #715B4B;
    width: 200px;
    padding-bottom: 10px;
    white-space: nowrap;
}
.mebcon_main1_grid p{
    margin-top: 20px;
}
.mebcon_main2_div{
    display: flex;
    justify-content: center;
}
.mebcon_main2_div button{
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    background: none;
}
.mebcon_main3_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
    border: 1px solid #000 ;
}
.mebcon_main3_grid p{
    font-weight: 300;
    line-height: 103%;
    margin-left: 40px;
    margin-bottom: 30px;
}
.mebcon_main3_grid div{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.mebcon_main3_grid h2{
    text-align: right;
    margin-top: 10px;
    margin-right: 40px;
}
.mebcon_main4{
    margin-top: 160px;
}
.mebcon_main4 div{
    margin-top: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: start;
}
.mebcon_main4 h2{
    margin-left: 140px;
}
.mebcon_main4 img{
    width: 230px;
}
.mebcon_main5{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 180px;
    text-align: center;
}
.mebcon_main5 h2{
    display: flex;
}
.mebcon_main5 button{
    margin-top: 100px;
}

/* about us */
.acon_front{
    text-align: center;
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 140px;
}
.acon_front h2{
    margin-top: 20px;
}
.acon_front img{
    margin-top: 40px;
}
.acon_main1{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 160px;
}
.acon_main1 div{
    flex-flow: column;
    justify-content: space-between;
}
.acon_main1 h2{
    margin: 0;
}
.acon_main1 p{
    margin: 0;
    margin-top: 20px;
}
.acon_main2_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}
.acon_main2_grid div{
    margin-left: 40px;
}
.acon_main2_grid h5{
    margin: 0   ;
    margin-top: 20px;
    font-weight: 400;
    color: #000;
}
.acon_main2_grid p{
    margin: 0;
    margin-top: 70px;
    font-size: 16px;
    color: #000;
}
.acon_main3{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}
.acon_main3 h3{
    text-align: right;
    margin-top: 70px;
}
.acon_main4{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}
.acon_main4 div{
    margin-top: 100px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: start;
}
.acon_main4 img{
    margin-left: 15px;
    margin-right: 15px;
}
.acon_main4 p{
    margin-top: 20px;
}



/* general */
body{
    background: #F3EFEA;
    max-width: 1440px;
    margin: 0 auto;
}
li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul{
    margin: 0px;
    padding: 0px;
}
p{
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}
h1{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}
h2{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}
h3{
    color: #323232;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
}
h4{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}
h5{
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.button_style1{
    width: 245px;
    height: 60px;
    background: #A1B29F;
    border: none;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    padding: 0;
}
.button_style2{
    width: 328px;
    height: 60px;
    background: #F6F6F6;
    border: none;
    color: #4C6D77;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
}
.button_style3{
    width: 328px;
    height: 60px;
    background: #A1B29F;
    border: none;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
}
.video_style{
    margin-top: 100px;
    display: flex;
    width: 1160px;
    height: 700px;
    flex-shrink: 0;
    background: #C4C4C4;
}

.img_style{
    width: 469px;
    height: 475px;
    background: #C4C4C4;
}
.main_image_style{
    width: 819px;
    height: 694px;
    margin-top: 100px;
    margin-bottom: 21px;
}
.down_image_style{
    width: 103px;
    height: 102px;
    margin-left: 8px;
    margin-right: 8px;
}

.borderstyle_right{
    border-right: 1px solid #000;
}
.borderstyle_bottom{
    border-bottom: 1px solid #000;
}
.borderstyle_garant1{
    border: 7px solid #A1B29F;
    display: inline-block;
}
.borderstyle_garant2{
    border: 1px solid #715B4B;
    margin: 7px;
    align-items: center;
    display: inline-block;
}
.background_E3DACE{
    background: #E3DACE;
}
.background_D4CDC3{
    background: #D4CDC3;
}
.background_EBEEEB{
    background: #EBEEEB;
}



/* header */
.con_head{
    display: grid;
    grid-template-columns: 4.5fr 1fr 4.5fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid black;
    height: 138px;
    width: 100%;
}
.con_nav{
    display: flex;
    align-items: center;
}
.el_li_header{
    color: #323232;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    margin:60px;
}



/* footer */
.con_footer{
    margin: 0;
    height: 380px;
    width: 100%;
    background-color: #715B4B;
}
.footer_elements{
    width: 1200px;
    margin-left:140px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_elements div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}
.footer_elements p{
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    margin-top: 32px;
}
.footer_elements div a{
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: #F6F6F6;
    text-decoration: none;
}
.con_footer_img{
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
    margin: 0;
}



/* mobile */
@media (max-width: 375px){
    /* header */
    .con_head {
        display: none;
    }
    /* footer */
    .con_footer{
        height: 773px;
        width: auto;
    }
    .con_footer_img{
        justify-content: left;
    }
    .footer_elements{
        flex-direction: column;
        margin-left: 38px;
        margin-top: 150px;
        padding-top: 40px;
        width: auto;
    }
    .con_front{
        margin: 0;
        margin-left: 35px;
    }
    .con_front_grid {
        grid-template-columns: 1fr;
        height: auto;
        margin-top: 115px;
        border: none;
    }
    .con_front_grid h1{
        margin-top: 75px;
        margin-bottom: 40px;
    }
    .con_front_grid p{
        margin: 0;
    }
    .con_front_grid button{
        margin-top: 20px;
    }
    .socm_con{
        margin: 40px 0;
        margin-top: 75px;
        justify-content: left;
    }
    .con_main1{
        margin: 0;
        margin-top: 90px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .con_main1 h2{
        width: 250px;
    }
    .con_main1_grid{
        grid-template-columns: 1fr;
        width: 300px;
        row-gap: 40px;
        margin-top: 60px;
    }
    .con_main2_grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 180px 180px 180px;
        margin-top: 60px;
    }
    .con_main2{
        margin: 0;
        margin-top: 90px;
    }
    .con_main2 h2{
        margin: 0;
        margin-left: 35px;
        margin-bottom: 60px;
    }
    .con_main2 br{
        display: none;
    }
    .con_main3_grid{
        grid-template-columns: 1fr;
    }
    .con_main3_grid div{
        margin-left: 35px;
    }
    .con_main3_grid p{
        margin-top: 4px;
        font-weight: 300;
    }
    .con_main3_grid button{
        margin-top: 30px;
    }
    .con_main4_grid{
        grid-template-columns: 1fr;
    }
    .con_main4_grid button{
        margin-bottom: 70px;
    }
    .con_main4_grid div{
        margin-left: 35px;
        margin-right: 35px;
    }
    .con_main3{
        margin: 0;
        margin-top: 90px;
        margin-left: 35px;
    }
    .con_main3 h2{
        text-align: start;
        width: 340px;
        margin-bottom: 60px;
    }
    .con_main3 h3{
        font-size: 16px;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 90px;
    }
    .con_main3 img{
        margin: 0;
        float: right;
        margin-bottom: 64px;
        margin-top: 10px;
        margin-right: 7px;
    }
    .con_main3 br{
        display: none;
    }
    .con_vid{
        margin: 0;
        margin-top: 90px;
    }
    .con_vid h2{
        margin-left: 35px;
        margin-right: 35px;
        width: 250px;
    }
    .mcon_front{
        background-image: url("../img/masterphmob.png");
        width: auto;
        height: 682px;
        text-align: center;
    }
    .mcon_front h1{
        color: #F6F6F6;
        padding-top: 249px;
        max-width: 325px;
        text-align: start;
        margin-left: 37.5px;
    }
    .mcon_front button{
        margin-top: 62px;
        width: 300px;
    }
    .mcon_main1{
        margin: 0;
        margin-top: 77px;
        margin-left: 37.5px;
        margin-right: 37.5px;
    }
    .mcon_main1 button{
        margin-top: 106px;
        width: 300px;
    }
    .mcon_main1_grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 22px;
        row-gap: 40px;
        margin-top: 77px;
    }
    .mcon_main1_grid div{
        position: relative;
    }
    .mcon_main1_grid img{
        height: 161px;
        width: 139px;
    }
    .mcon_main1_grid p{
        margin-top: 20px;
        overflow-x: visible;
        white-space: nowrap;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mcon_circle_list {
        margin-left: 38px;
        margin-top: 86px;
    }
    .circle_mcon{
        margin: 0;
        margin-top: 86px;
        display: flex;
    }
    .circle_mcon p{
        width: 210px;
        text-wrap: wrap;
    }
    .circle_mcon ul{
        gap: 60px;
    }
    .circle_mcon li {
        gap: 23px;
    }
    .mcon_main2{
        background-image: url("../img/masterph1mob.png");
        width: auto;
        height: 444px;
        text-align: center;
        margin-top: 100px;
    }
    .mcon_main2 h2{
        padding-top: 126px;
        color: #F6F6F6;
    }
    .mcon_main3_grid{
        grid-template-columns: 1fr;
        margin-top: 40px;
        text-align: center;
    }
    .mcon_main3_grid div{
        display: flex;
        flex-direction: column;
        align-items:center;
    }   
    .mcon_main3_grid p{
        margin-bottom: 30px;
        width: 175px;
    }
    .mcon_main3_grid img{
        max-width: 300px;
        max-height: 300px;
    }
    .mcon_main4_grid{
        grid-template-columns: 1fr;
        margin-top: 98px;
        margin-left: 35px;
        margin-right: 26px;
    }
    .mcon_main4_grid h2{
        width: 100%;
    }
    .mcon_main4_grid p{
        width: 325px;
        margin-top: 90px;
    }
    .mcon_main4_grid button{
        margin-top: 30px;
    }
    .mebcon_front{
        background-image: url("../img/mebelphmob.png");
        width: 100%;
        height: 687px;
        text-align: left;
    }
    .mebcon_front p{
        padding-top: 177px;
        padding-left: 33px;
        font-size: 16px;
    }
    .mebcon_front h1{
        padding-left: 33px;
        margin-top: 30px;
    }
    .mebcon_front h2{
        padding-left: 33px;
        margin-top: 3px;
    }
    .mebcon_front button{
        margin-top: 60px;
        margin-left: 37.5px;
        margin-right: 37.5px;
        width: 300px;
    }
    .mebcon_main1_grid{
        grid-template-columns: 1fr;
        margin-top: 60px;
        gap: 40px;
    }
    .mebcon_main1_grid div{
        width: 320px;
    }
    .main_image_style{
        width: 300px;
        height: 254.5px;
        margin-top: 60px;
    }
    .down_image_style{
        display: none;
    }
    .mebcon_main2_div button{
        display: none;
    }
    .mebcon_main3_grid{
        grid-template-columns: 1fr;
        margin-top: 60px;
    }
    .mebcon_main3_grid h2{
        margin: 0;
        margin-top: 3px;
        margin-right: 20px;
        width: auto;
    }
    .mebcon_main3_grid p{
        margin: o;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .mebcon_main3_grid div{
        height: 140px;
    }
    .mebcon_main4{
        margin-top: 60px;
    }
    .mebcon_main4 div{
        margin-top: 60px;
        align-items: center;
        justify-content: center;
    }
    .mebcon_main4 h2{
        margin-left: 37.5px;
    }
    .mebcon_main5{
        margin: 0;
        margin-top: 90px;
        margin-left: 37.5px;
        margin-right: 50px;
        text-align: start;
    }
    .mebcon_main5 button{
        margin-top: 60px;
        width: 300px;
    }
    .acon_front{
        margin: 0;
        margin-top: 112px;
        margin-left: 0;
    }
    .acon_front h2{
        text-align: left;
        margin-left: 37.5px;
    }
    .acon_front img{
        margin-top: 50px;
        width: 100%;
        height: 264px;
        content:url("../img/personphoto1mob.png");
    }
    .acon_main1{
        margin-top: 70px;
        margin-left: 37.5px;
        flex-flow: column;
        height: 350px;
        text-align: left;
    }
    .acon_main1 h2{
        margin: 0;
    }
    .acon_main1 p{
        margin-top: 10px;
        font-size: 16px;
    }
    .acon_main2_grid{
        grid-template-columns: 1fr;
        margin: 0;
        margin-top: 90px;
    }
    .acon_main2_grid img{
        content: url("../img/personphoto2mob.png");
        width: 100%;
        height: 462px;
    }
    .acon_main2_grid div{
        margin-top: 60px;
        margin-left: 37.5px;
        margin-right: 37.5px;
    }
    .acon_main2_grid p{
        font-size: 16px;
    }
    .acon_main2_grid h5{
        font-size: 16px;
    }
    .acon_main2_grid br{
        display: none;
    }
    .acon_main3{
        margin: 0;
        margin-top: 90px;
        margin-left: 37.5px;
        margin-right: 37.5px;
    }
    .acon_main3 h3{
        margin-top: 60px;
        font-size: 16px;
        width: 300px;
    }
    .acon_main3 br{
        display: none;
    }
    .acon_main4{
        margin: 0;
        margin-top: 130px;
        margin-left: 37.5px;
        margin-right: 37.5px;
    }



    .mobile{
        font-size: 16px;
        width: 200px;
    }
    .img_style_mob{
        width: 300px;
        height: 475px;
        background: #C4C4C4;
    }
    .img_style{
        display: none;
    }
    .borderstyle_right{
        border: none;
    }
    .borderstyle_bottom{
        border: none;
    }
    .border-bottomMobile{
        border-bottom: 1px solid #000;
    }
    .border-rightMobile{
        border-right: 1px solid #000;
    }
    .borderstyle_garant1{
        border: none;
    }
    .borderstyle_garant2{
        border: none;
        margin: 0;
    }
    .border_garant_mobile1{
        border: 7px solid #A1B29F;
        margin-right: 35px;
        display: inline-block;
    }
    .border_garant_mobile2{
        border: 1px solid #715B4B;
        margin: 5px;
        display: inline-block;
    }
    .background_EBEEEB{
        background: #F3EFEA;
    }
    .video_style{
        margin-top: 60px;
        height: 226px;
        max-width: 375px;
        margin-bottom: 60px;
    }
    img[src*="img/mainph.png"] {
        order: 2;
        max-width: 100%;
        height: auto;
    }
    img[src*="img/personphoto.png"] {
        max-width: 100%;
        height: auto;
    }
    img[src*="img/bathdraw.png"] {
        max-width: 100%;
        height: auto;
    }
    img[src*="img/closets.png"] {
        max-width: 100%;
        height: auto;
    }
    img[src*="img/logo2.png"]{
        max-width: 69px;
        max-height: 69px;
    }
    img[src*="img/rev2.png"]{
        display: none;
    }
    img[src*="img/rev3.png"]{
        display: none;
    }
    img[src*="img/rev4.png"]{
        display: none;
    }
    img[src*="img/rev5.png"]{
        display: none;
    }
    img[src*="img/smi2.png"]{
        display: none;
    }
    img[src*="img/smi3.png"]{
        display: none;
    }
    img[src*="img/smi4.png"]{
        display: none;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 32px;
    }
    body{
        margin: 0;
    }
}    