.con_front_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid black;
    width: 100%;
    height: 774px;
}
.con_main1_grid{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    align-content: center;
    text-align: center;
    margin-top: 100px;
    column-gap: 40px;
}
.con_main2_grid{
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 250px 250px;
    margin-top: 100px;
}
.con_main3_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    margin-top: 100px;
    background: #EBEEEB;
}
.con_main4_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    margin-top: 100px;
    background: #E3DACE;
}
.con_main5_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    background: #D4CDC3;
}



.con_front{
    margin-left: 40px;
    margin-top: 198px;
}
.con_main1{
    margin-top: 160px;
    margin-left: 140px;
}
.con_main2{
    margin-top: 160px;
}
.con_main4{
    margin: 200px 140px 210px 140px;
}



.text_style{
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}
.middletext_style{
    color: #323232;
    font-family: Tenor Sans;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.titletext_style{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}
.middletext_style_OpenSans{
    color: #323232;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}



.text_con{
    margin-left: 40px;
}
.text_con1{
    margin-left: 60px;
}
.socm_con{
    margin: 94px 0px 0px 410px;
}
.text_con2{
    text-align: center;
    margin-top: 90px;
}
.text_con3{
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 40px;
}
.img_con{
    margin-left: 920px;
    margin-top: 0;
    margin-bottom: 40px;
}



.border_style1{
    border-bottom: 3px solid #57463A;
}
.border_style2{
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.border_style3{
    border: 7px solid #A1B29F;
}
.border_style4{
    border: 1px solid #715B4B;
    margin: 7px;
}
.button_style{
    width: 245px;
    height: 60px;
    background: #A1B29F;
    border: none;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
}
.button_style1{
    margin-top: 70px;
}
.button_style2{
    margin-top: 52px;
}
.video_style{
    margin-top: 100px;
    width: 1160px;
    height: 700px;
    flex-shrink: 0;
    background: #C4C4C4;
}



.margin_top17{
    margin-top: 17px;
}
.margin_top40{
    margin-top: 40px;
}
.margin_top68{
    margin-top: 68px;
}
.margin_top110{
    margin-top: 110px;
}
.margin_left140{
    margin-left: 140px;
}
.soc_button{
    margin-left: 40px;
}



body{
    background: #F3EFEA;
    max-width: 1440px;
    margin: 0 auto;
}
li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul{
    margin: 0px;
    padding: 0px;
}