.mcon_front{
    background-image: url("../img/masterph.png");
    width: 1440px;
    height: 601px;
    text-align: center;
}
.mcon_front h1{
    color: #F6F6F6;
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    padding-top: 268px;
}
.mcon_main1_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 50px;
    margin-top: 100px;
    align-items: end;
}
.mcon_main1_grid p{
    margin: 0;
    margin-top: 25px;
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.99%;
}
.mcon_main1{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}
.mcon_main2{
    margin-top: 160px;
    margin-left: 140px;
}
.mcon_main3{
    background-image: url("../img/masterph1.png");
    width: 1440px;
    height: 508px;
    text-align: center;
    margin-top: 160px;
}
.mcon_main3 h2{
    color: #F6F6F6;
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    margin: 0;
    padding: 182px;
}
.mcon_main4_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-top: 100px;
}
.mcon_main4_grid p{
    margin: 0;
    margin-top: 20px;
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
}
.mcon_main4{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}
.mcon_main5_grid{
    display: grid;
    grid-template-columns: 1fr auto;
}
.mcon_main5_grid p{
    margin-top: 100px;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}
.mcon_main5_grid button{
    width: 245px;
    height: 60px;
    background: #A1B29F;
    border: none;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 322px;
}
.mcon_main5{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}



.mcon_circle_list {
    margin-left: 140px;
    margin-top: 160px;
}
.circle_mcon{
    margin: 0;
    margin-top: 100px;
    display: flex;
    margin-left: 314px;
}
.line{
    position: absolute;
    height: 643px;
    width: 1px;
    background-color: #C4C4C4;
    top: 60px;
    left: 30px;
    z-index: 1;
}
.circle_mcon ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 57px;
    position: relative;
}
.circle_mcon li {
    display: flex;
    gap: 45px;
    align-items: center;
    z-index: 2;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A1B29F;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}



.titletext_style{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    display: flex;
}
.text_style{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}



.button_style{
    width: 328px;
    height: 60px;
    background: #F6F6F6;
    margin-top: 97px;
    border: none;
    color: #4C6D77;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.button_style1{
    width: 328px;
    height: 60px;
    background: #A1B29F;
    margin-top: 97px;
    border: none;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.img_style{
    width: 469px;
    height: 475px;
    background: #C4C4C4;
}



.text_margin{
    margin-top: 268px;
}
.button_margin{
    margin-top: 97px;
}
.button_margin1{
    margin-top: 90px;
}
body{
    background: #F3EFEA;
    max-width: 1440px;
    margin: 0 auto;
}
li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul{
    margin: 0px;
    padding: 0px;
}